body {
    background-image: url('./public/Imagem_pedirOrcamento.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
}

.direita {
    padding-left: 1000px;
}

.container-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 10px;
}

.row-footer {
    color: rgb(0, 0, 0); /* Cor do texto no rodapé */
    column-count: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 200px;
}

.container-footer-coluna {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}

.container-footer {
    background-image: url('./public/Imagem_rodape.svg'); /* Substitua 'sua_imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    height: 650px;
}

.col-esquerda {
    padding: 0px;
    height: 200px;
    width: 350px;
    padding-bottom: 50px;
}


.col-direita {
    padding: 0px;
    height: 400px;
    width: 400px;
}

/* Estilo personalizado para os botões */
.social-btn3 {
    background-color: rgb(160,82,45);
    color: #000000;
    border: none;
    transition: background-color 0.3s;
}

.social-btn3:hover {
    background-color: rgb(255, 255, 255);
}

.botao1 {
    background-color: rgb(147, 53, 34);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border: none;
}

.botao1:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(123, 45, 29);
    cursor: pointer;
    text-decoration: none;
}

.navbar-nav .nav-link {
    position: relative;
  }

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.25s ease;
}

  .navbar-nav .nav-link:hover::after,
  .navbar-nav .nav-link.active::after {
    width: 50%;
  }

  .container {
    display: flex;
    padding-left: 53%;

  }