.color-1 {
    background-color: rgb(123, 45, 29);
    border-radius: 10px;
}

.color-2 {
    background-color: rgb(139, 66, 30);
    border-radius: 10px;
}

.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.coluna {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 20px;
    height: 600px;
}

.imagem {
    padding-left: 100px;
    height: 600px;
}

.linha {
    display: flex;
    flex-direction: row;
}

/* Estilo personalizado para os botões */
.social-btn1 {
    background-color: rgb(166, 81, 39);
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.social-btn1:hover {
    background-color: rgb(187, 94, 47);
}

.social-btn2 {
    background-color: rgb(202, 107, 59);
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.social-btn2:hover {
    background-color: rgb(236, 123, 66);
}

/* Estilo para centralizar o texto e a imagem dentro do botão */
.social-btn img {
    vertical-align: middle;
    display: inline-block;
}

.social-btn span {
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}

.imagem-footer {
    width: 30px;
}

.container {
    display: flex;
    flex-direction: column;
}

.row-footer {
    color: rgb(0, 0, 0); /* Cor do texto no rodapé */
    column-count: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container-footer-coluna {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}

.container-footer {
    background-image: url('./public/Imagem_rodape.svg'); /* Substitua 'sua_imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.col-esquerda {
    padding: 0px;
    height: 200px;
    width: 350px;
    padding-bottom: 50px;
}


.col-direita {
    padding: 0px;
    height: 400px;
    width: 400px;
}

.social-btn3 {
    background-color: rgb(160,82,45);
    color: #000000;
    border: none;
    transition: background-color 0.3s;
}

.social-btn3:hover {
    background-color: rgb(255, 255, 255);
}